<!-- d -->
<launch>
  <arg name="ns" default="/gecko" />
  <param name="robot_description"   command="$(find xacro)/xacro.py '$(find gecko_description)/urdf/gecko.xacro'" />
   
   <!--group ns="$(arg ns)"-->
  <!--rosparam file="$(find gecko_control)/config/gecko_control.yaml" command="load" /-->
  <rosparam file="$(find gecko_control)/config/gecko_group_control.yaml" command="load" />

  <!-- load the controllers -->

            
   <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="log"  args="--namespace=$(arg ns)
            joint_state_controller
            gecko_group_position_controller
            camera_position_controller
            gazebo_ros_control"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="log">
    <remap from="/joint_states" to="/gecko/joint_states" />
  </node>
<!--/group-->
</launch>
