gecko:
  # Publish all joint states -----------------------------------
  joint_state_controller:
    type: joint_state_controller/JointStateController
    publish_rate: 50  
  
  # Position Controllers ---------------------------------------
  gecko_group_position_controller:
    type: "position_controllers/JointGroupPositionController"
    joints:
     - upper_left_bar_1_joint
     - upper_right_bar_1_joint
     - lower_left_bar_1_joint
     - lower_right_bar_1_joint
    pid: {p: 100.0, i: 0.01, d: 10.0}
